// Global Variables
// ----------------------------------
$white:                       #ffffff;
$black:                       #000000;
$primary-color:               #5f7bff;
$secondary-color:             #464646;

// Helpers
// NOTE: Should override styles
// ----------------------------------
.h-center {
  text-align: center !important;
}

.h-right {
  text-align: right !important;
}

.h-margin-center {
  margin: 0 auto !important;
}

.h-font-light {
  font-weight: 300 !important;
}

.h-font-medium {
  font-weight: 500 !important;
}

.h-font-bold {
  font-weight: 700 !important;
}


// Global Styles
// ----------------------------------
body {
  background: url('../images/bg-triangle-backdrop.jpg') center center cover no-repeat $white;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

// Establish font family
body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  &__logo {
    width: 77px;
  }
} // hero
