// Vendor Imports
@import "../vendor/bourbon/bourbon";

// Global Variables
// ----------------------------------
$white:                       #ffffff;
$black:                       #000000;
$primary-color:               #5f7bff;
$secondary-color:             #464646;
$grey:                        #6a6a6a;
$roboto:                      'Roboto', sans-serif;

// Helpers
// NOTE: Should override styles
// ----------------------------------
.h-center {
  text-align: center !important;
}

.h-right {
  text-align: right !important;
}

.h-margin-center {
  margin: 0 auto !important;
}

.h-font-light {
  font-weight: 300 !important;
}

.h-font-medium {
  font-weight: 500 !important;
}

.h-font-bold {
  font-weight: 700 !important;
}

.vertical-padding {
  padding: 30px 0;
}


// Global Styles
// ----------------------------------
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

// Establish font family
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.backdrop {
  @include background-image(url('../images/bg-triangle-backdrop.jpg'), radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $white;
  width: 100%;
  height: 100%;
}

.brand-logo {
  position: relative;
  top: 20px;
  width: 77px;
}

.hero {
  height: 660px;
  box-shadow: 0 30px 50px -10px rgba(0, 0, 0, .7);
  clear: both;
  width: 100%;

  &__background {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 50%;
    height: 100%;
  }

  &__background--main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/bg-man-with-grey-hoodie.jpg');
  }

  &__background--secondary {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/bg-woman-with-grey-hoodie.jpg');
  }
} // hero

.logo-bar {
  @include display(flex);
  @include justify-content(space-around);
  @include align-items(stretch);
  @include flex-wrap(no-wrap);
  height: 90px;
  margin: 90px auto;

  &__image {
    @include flex(0 1 auto);
    @include align-self(center);
  }

  &__image--rect {
    width: 185px;
    height: 56px;
  }

  &__image--square {
    width: 97px;
    height: 87px;
  }
} // logo-bar

.feature-deck {
  color: $grey;

  &__heading {
    font-size: 40px;
  }

  &__divider {
    background-color: $primary-color;
    height: 2px;
    margin: 20px auto 0;
    width: 100px;
  }

  &__icon {
    color: $primary-color;
    font-weight: 300;
    font-size: 70px;
  }

  &__icon-heading {
    font-size: 30px;
    margin-top: 15px;
  }

  &__icon-description {
    font-size: 15px;
    margin-top: 15px;
  }
} // feature-deck

.product-carousel {
  height: 760px;
}

.product {
  outline: none;

  &__description {
    text-align: center;
    visibility: hidden;
    height: 0;
  }

  &__image {
    position: relative;
    top: 100px;
    transition: top .7s;
  }
}

.product.slick-active {
  .product__description {
    visibility: visible;
    height: auto;
    transition: height .7s;
  }
  .product__image {
    top: 0;
  }
}
