.h-center {
  text-align: center !important; }

.h-right {
  text-align: right !important; }

.h-margin-center {
  margin: 0 auto !important; }

.h-font-light {
  font-weight: 300 !important; }

.h-font-regular {
  font-weight: 400 !important; }

.h-font-medium {
  font-weight: 500 !important; }

.h-font-bold {
  font-weight: 700 !important; }

.h-underline {
  text-decoration: underline; }

.vertical-padding {
  padding: 30px 0; }

body {
  height: 100%;
  overflow-x: hidden;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

body {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url("../images/bg-triangle-backdrop.jpg");
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

body.modal-active {
  overflow-y: hidden; }

.container {
  background-color: #ffffff;
  box-shadow: 0 45px 45px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1240px;
  height: 100%; }

.bg-slice-backdrop {
  background-color: #ffffff;
  background-image: url("../images/bg-slice-backdrop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 70%; }
  @media screen and (min-width: 1200px) {
    .bg-slice-backdrop {
      padding-top: 30px; } }

.bg-slice-backdrop--reverse {
  background-image: url("../images/bg-slice-backdrop-reverse.png");
  background-size: 100% 50%;
  padding: 50px 0 0; }
  @media screen and (min-width: 1200px) {
    .bg-slice-backdrop--reverse {
      padding-top: 30px; } }

.brand-logo {
  position: relative;
  top: 20px;
  width: 77px;
  z-index: 10; }

.hero {
  box-shadow: 0 90px 80px -60px rgba(0, 0, 0, 0.7);
  clear: both;
  height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 1190px; }
  @media screen and (min-width: 500px) {
    .hero {
      height: 660px; } }
  .hero:before {
    background-image: -webkit-radial-gradient(50% 0, circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    background-image: radial-gradient(  circle at 50% 0, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .hero__background {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    float: left;
    height: 100%;
    width: 50%; }
    @media screen and (max-width: 800px) {
      .hero__background {
        width: 100%; } }
    @media screen and (max-width: 1100px) {
      .hero__background {
        background-size: cover; } }
  .hero__background--main {
    background-image: url("../images/bg-man-with-grey-hoodie.jpg"); }
  .hero__background--secondary {
    background-image: url("../images/bg-woman-with-grey-hoodie.jpg"); }
    @media screen and (max-width: 800px) {
      .hero__background--secondary {
        display: none; } }
  .hero__text-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px; }
    @media screen and (min-width: 500px) {
      .hero__text-box {
        top: 150px; } }
  .hero__content {
    max-width: 560px;
    margin: 0 auto; }
  .hero__changing-text {
    font-weight: 600;
    display: block;
    margin: 20px auto;
    height: 60px; }
    @media screen and (min-width: 500px) {
      .hero__changing-text {
        display: inline;
        height: auto; } }
  .hero__text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 25px; }
    @media screen and (min-width: 500px) {
      .hero__text {
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1.3; } }
  .hero__email-input {
    border-radius: 8px;
    color: #6a6a6a;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    margin-right: 20px;
    outline: none;
    padding: 15px 20px;
    position: relative;
    top: -5px;
    text-align: center;
    width: 275px; }
    @media screen and (max-width: 560px) {
      .hero__email-input {
        display: block;
        float: none;
        margin: 0 auto; } }
  .hero__quote-button {
    color: #5f7bff;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    background-color: #ffffff;
    padding: 16px 30px;
    font-size: 15px;
    position: relative;
    text-align: center;
    bottom: 5px; }
    .hero__quote-button:hover {
      background-color: #fafafa; }
    @media screen and (max-width: 560px) {
      .hero__quote-button {
        float: none;
        margin: 10px auto;
        top: 20px; } }

.logo-bar {
  height: 90px;
  line-height: 90px;
  margin: 30px auto;
  max-width: 1200px;
  text-align: center; }
  @media screen and (min-width: 500px) {
    .logo-bar {
      margin: 50px auto; } }
  @media screen and (min-width: 980px) {
    .logo-bar {
      margin: 90px auto 115px; } }
  .logo-bar__image {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: top;
    outline: none;
    margin: 0 10px; }
    @media screen and (min-width: 950px) {
      .logo-bar__image {
        margin: 0 15px; } }
    @media screen and (min-width: 1200px) {
      .logo-bar__image {
        margin: 0 30px; } }
    .logo-bar__image.slick-slide {
      opacity: .4; }
      @media screen and (min-width: 800px) {
        .logo-bar__image.slick-slide {
          margin: 0 50px; } }
    .logo-bar__image.slick-slide.slick-active {
      opacity: 1; }
  .logo-bar__image--rect {
    width: 185px;
    max-width: 185px;
    height: 56px; }
    .logo-bar__image--rect.slick-slide {
      position: relative;
      top: 25px; }
  .logo-bar__image-haymaker {
    background-image: url("../images/logo-haymaker.png");
    height: 56px;
    width: 185px;
    position: relative;
    top: 10px; }
  .logo-bar__image-intrepid {
    background-image: url("../images/logo-intrepid.png");
    width: 97px;
    height: 87px; }
  .logo-bar__image-improv {
    background-image: url("../images/logo-improv.png");
    width: 201px;
    height: 55px;
    position: relative;
    top: 20px; }
  .logo-bar__image-bevspot {
    background-image: url("../images/logo-bevspot.png");
    height: 90px;
    width: 90px; }
  .logo-bar__image-venture {
    background-image: url("../images/logo-venture.png");
    height: 67px;
    width: 253px; }

.feature-deck {
  color: #6a6a6a;
  padding-top: 25px; }
  @media screen and (min-width: 500px) {
    .feature-deck {
      padding-top: 70px; } }
  .feature-deck .small-12 {
    margin-top: 30px; }
    @media screen and (min-width: 690px) {
      .feature-deck .small-12 {
        margin-top: 0; } }
  .feature-deck__heading {
    font-size: 40px; }
  .feature-deck__divider {
    background-color: #5f7bff;
    height: 2px;
    margin: 20px auto 0;
    width: 100px; }
  .feature-deck__icon-heading {
    font-size: 30px;
    margin-top: 20px; }
    @media screen and (min-width: 500px) {
      .feature-deck__icon-heading {
        margin-top: 40px; } }
  .feature-deck__icon-description {
    font-size: 15px;
    margin-top: 15px; }

.feature-deck--white {
  background-color: #ffffff; }

.feature-deck--secondary {
  padding-top: 150px; }
  @media screen and (min-width: 500px) {
    .feature-deck--secondary {
      padding-top: 90px; } }

.product-carousel {
  background-color: #ffffff;
  height: 550px;
  padding-top: 50px;
  max-height: 850px;
  position: relative; }
  @media screen and (min-width: 500px) {
    .product-carousel {
      padding-top: 100px;
      height: 760px; } }
  @media screen and (min-width: 800px) {
    .product-carousel {
      padding-top: 50px; } }

.product {
  position: relative;
  outline: none;
  width: 640px; }
  .product__description {
    background-color: white;
    box-shadow: none;
    bottom: 120px;
    color: #5f7bff;
    height: 250px;
    left: -10px;
    margin: 0 auto;
    width: 312px;
    opacity: 0;
    position: relative;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 350px) {
      .product__description {
        left: 0; } }
    @media screen and (min-width: 450px) {
      .product__description {
        width: 400px;
        bottom: 110px;
        height: 316px; } }
    @media screen and (min-width: 700px) {
      .product__description {
        bottom: 120px; } }
  .product__title, .product__type, .product__details {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1; }
  .product__image {
    -webkit-transition: top 0.3s linear;
    -moz-transition: top 0.3s linear;
    transition: top 0.3s linear;
    position: relative;
    top: 100px;
    max-width: 472px;
    width: 90%;
    min-width: 310px;
    margin: 0 auto;
    opacity: .3;
    z-index: 3; }
  .product__contact {
    text-decoration: underline;
    margin-top: 30px;
    font-size: 15px; }

.icon-arrow-prev {
  opacity: 0;
  background-image: url("../icons/icon-chevron-left.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 40px;
  left: 0;
  position: absolute;
  top: 450px;
  width: 40px;
  z-index: 300; }
  @media screen and (max-width: 800px) {
    .icon-arrow-prev {
      display: none; } }

.icon-arrow-next {
  background-image: url("../icons/icon-chevron-right.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 40px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 450px;
  width: 40px;
  z-index: 300; }
  @media screen and (max-width: 800px) {
    .icon-arrow-next {
      display: none; } }

.product.slick-active .product__image {
  opacity: .6; }

.product.slick-current .product__description {
  -webkit-transition: opacity 0.5s, box-shadow 0.9s;
  -moz-transition: opacity 0.5s, box-shadow 0.9s;
  transition: opacity 0.5s, box-shadow 0.9s;
  box-shadow: 0 40px 50px -20px rgba(0, 0, 0, 0.3);
  border: 5px solid #5f7bff;
  padding: 100px 25px 70px;
  opacity: 1; }
  @media screen and (min-width: 700px) {
    .product.slick-current .product__description {
      padding: 100px 15px; } }
.product.slick-current .product__image {
  opacity: 1;
  top: 0; }
.product.slick-current .icon-arrow-prev,
.product.slick-current .icon-arrow-next {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1; }

/* .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
} */
.footer {
  background-color: #ffffff;
  margin-top: 50px;
  padding-bottom: 70px; }
  @media screen and (min-width: 500px) {
    .footer {
      margin-top: 150px; } }
  .footer__text {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 30px;
    padding: 0 30px; }
    @media screen and (min-width: 500px) {
      .footer__text {
        padding: 0; } }
  @media screen and (min-width: 870px) {
    .footer__text-break {
      display: none; } }
  .footer__changing-text {
    color: #5f7bff;
    font-weight: 700; }
  .footer__contact-button {
    background-color: #5f7bff;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    width: 250px;
    padding: 15px 70px;
    text-align: center; }
    .footer__contact-button:hover {
      background-color: #6983ff; }
  .footer__legal {
    color: #5f7bff;
    font-size: 18px;
    margin-top: 100px; }

.modal {
  -webkit-transition: opacity 0.3s, z-index 1s;
  -moz-transition: opacity 0.3s, z-index 1s;
  transition: opacity 0.3s, z-index 1s;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -100; }
  .modal .h-underline {
    color: #5f7bff; }
  .modal__content {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background-color: #ffffff;
    border-radius: 30px;
    bottom: 0;
    color: #6a6a6a;
    font-size: 15px;
    height: 550px;
    max-height: 550px;
    left: 0;
    margin: auto;
    min-width: 300px;
    opacity: 0;
    overflow: hidden;
    padding: 50px 90px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 98%; }
    @media screen and (min-width: 500px) {
      .modal__content {
        width: 500px; } }
  .modal__headline {
    font-size: 40px;
    line-height: 1; }
  .modal__divider {
    width: 35%;
    border-width: 2px;
    border-color: #5f7bff; }
  .modal__submit {
    background-color: #5f7bff;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    padding-top: 15px;
    position: relative;
    text-align: center; }
    .modal__submit:hover {
      background-color: #5573ff; }
  .modal__name-input {
    text-align: center; }
  .modal__email-input {
    text-align: center; }
  .modal__textarea {
    height: 85px;
    max-height: 105px;
    text-align: center; }

.modal.is-active {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 900; }
  .modal.is-active .modal__content {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 1; }

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80px;
  margin: 0 auto; }

.icon-shirt {
  background-image: url("../icons/icon-shirt.png"); }

.svg .icon-shirt {
  background-image: url("../icons/icon-shirt.svg");
  background-size: 80px 80px;
  width: 80px;
  height: 71px; }

.icon-cash-dollar {
  background-image: url("../icons/icon-cash-dollar.png"); }

.svg .icon-cash-dollar {
  background-image: url("../icons/icon-cash-dollar.svg");
  background-size: 80px 80px;
  width: 80px;
  height: 80px; }

.icon-delivery {
  background-image: url("../icons/icon-truck.png"); }

.svg .icon-delivery {
  background-image: url("../icons/icon-truck.svg");
  background-size: 80px 80px;
  width: 80px;
  height: 80px; }

.icon-tags {
  background-image: url("../icons/icon-tags.png"); }

.svg .icon-tags {
  background-image: url("../icons/icon-tags.svg");
  background-size: 80px 80px;
  width: 80px;
  height: 80px; }

.icon-picture {
  background-image: url("../icons/icon-picture.png"); }

.svg .icon-picture {
  background-image: url("../icons/icon-picture.svg");
  background-size: 70px 70px;
  width: 70px;
  height: 70px; }

.icon-receipt {
  background-image: url("../icons/icon-receipt.png"); }

.svg .icon-receipt {
  background-image: url("../icons/icon-receipt.svg");
  background-size: 70px 70px;
  height: 70px;
  width: 70px; }

/*# sourceMappingURL=app.css.map */
